= simple_form_for @task, remote: true do |f|
  = f.input :name
  .row
    .col-md-6
      = f.input :start_day, as: :date_picker
    .col-md-6
      = f.input :end_day, as: :date_picker

  .text-xs-left
    = f.button :button, 'Cancel', type: :reset, class: 'btn btn-none btn-margin-left', id: 'button-cancel'
  .text-xs-right
    = f.button :submit, class: 'btn btn-success'
br
br

javascript:
  $( "#button-cancel" ).click(function() {
    $("#task-form").slideUp(500);
  });

  $( function() {
    $('.datetimepicker').datetimepicker();
  });
