H1.text-xs-center Tasks list
hr

.container 
  .row
    .col-md-12
      = link_to "New Task", new_task_path, remote: true, class: 'btn btn-primary'
      br

  .row
    .col-md-12
      #task-form

  br
  #tasks 
    = render @tasks
